* {
    box-sizing: border-box;
    margin: 0px;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --blue-color: #0a82fd;
    --yellow-color: #f2c94c;
    --pink-color: rgb(239, 93, 168);
    --green-color: rgb(39, 174, 96);
    --purple-color: rgb(155, 81, 224);
    --body-color: #f5f5f5;

}

.container {
    max-width: 100%;
    margin: 0px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

body {
    font-family: 'Roboto';
    background-color: var(--body-color);
    overflow-x: hidden;

}

div {
    position: relative;
    display: block;
}

img {
    display: block;
    max-width: 100%;
}


a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 0px;
}


.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


.crancy-menu {
    position: fixed;
    left: 0;
    z-index: 6000;
    height: 100%;
    width: 330px;
    transform: translate(0);
    top: 0;
}

.crancy-menu i {
    font-size: 13px;
}


.admin-menu {
    background-color: var(--white-color);
    transition: all .3s ease;
    border-right: 1px solid #e8edff;
    height: 100%;
    overflow: scroll;
}

.crancy-padding-left {
    padding-left: 40px;
}

:not(:root):fullscreen::backdrop {
    background: none;
}

ul li {
    list-style: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    border-bottom: 1px solid #e8edff;
}

.logo a {
    position: relative;
    margin: 0;
}

.crancy-icon {
    text-align: center;
    cursor: pointer;
    position: relative;
    background-color: var(--blue-color);
    color: var(--white-color);
    width: 16px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.crancy-padding-all {
    padding-left: 40px;
    padding-right: 40px;
}

.admin-one {
    padding-bottom: 25px;
}

.user-title {
    margin-bottom: 10px;
}

.m-top-20 {
    margin-top: 20px;
}

.admin-title {
    margin-bottom: 10px;
    color: #6d6e70;
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px solid #e8edff;
    padding-bottom: 5px;
    line-height: 140%;

}

.menu-bar li {
    position: relative;
}

.menu-bar ul li a {
    font-weight: 400;
    color: black;
    position: relative;
    line-height: 22px;
    font-size: 18px;
    padding: 14px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

path {
    stroke: #2f3032;
}

svg {
    stroke: #2f3032;
}

.menu-bar li a.collaspse {
    color: var(--black-color);
}

.crancy-svg-icon {
    min-width: 35px;
}

.menu-bar-text {
    position: relative;
    width: 100%;
    height: 29px;

}

.menu-bar-text .menu-bar-icon {
    margin-right: 1px;
    padding: 0px;
    border-radius: 50%;
    display: inline-block;
    color: var(--black-color);
    min-width: 30px;
}

.menu-bar-text {
    display: flex;
    justify-content: space-between;
}

.menu-bar__name {
    line-height: 10px;
}

.menu-bar ul {
    height: 50px;
}

.inbox-count {
    background-color: var(--blue-color);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    color: var(--white-color);
    padding: 0px;
    line-height: 20px;
}

.inbox-right {
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 70px;
    justify-content: center;
}

.carrancy-card {
    background-color: var(--blue-color);
    width: 249px;
    height: 209px;
    border-radius: 10px;
    text-align: center;
    margin-top: 75px;
    position: relative;
}

.carrancy-card img {
    position: absolute;
    top: -10%;
    left: 40%;
}

.carrancy-card h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: var(--white-color);
    padding-top: 50px;
    padding-bottom: 15px;
}

.carrancy-card p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--white-color);
    margin-bottom: 20px;
}

.carrancy-card a {
    padding: 9px 22px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    border-radius: 4px;
    background-color: #f2c94c;
    color: #2f3032;
    margin-top: 15px;

}

/* ================================header */
.carancy-header {
    z-index: 5000;
    top: 0;
    position: sticky;
    background-color: var(--white-color);
}

.container {
    max-width: 10000px;
    margin: 0px auto;

}

.carancy-header-inner {
    display: flex;
    align-items: center;
}

.carancy-header-middle {
    justify-content: space-between;
    gap: 25px;
    height: 80px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 370px;
    padding-right: 40px;

}

.menu-bar li:hover svg path {
    stroke: var(--blue-color);
    transition: all 0.3s;
}

.menu-bar li:hover .menu-bar-text span {
    color: var(--blue-color);
    transition: all 0.3s;

}

.menu-bar li:hover .menu-bar-text i {
    color: var(--blue-color);
    transition: all 0.3s;

}

.form-inner {
    display: flex;
    align-items: center;
    background-color: #f5faff;
    border-radius: 8px;
    padding: 0px 15px;
    width: 400px;
}

:focus-visible {
    outline: none !important;
}

.form-inner .search-btn {
    height: 48px;
}

.form-inner button,
.form-inner input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    color: #9aa2b1;

}

.header-right {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: end;
}

.form-inner input {
    width: 300px;
}

.carancy-dropdown {
    display: flex;
    align-items: center;
}

.dropdown {
    border: none;
    margin: 0px;
    padding: 0px;
}

.gap {
    display: flex;
    gap: 30px;
    align-items: center;
}

.main-option {
    color: #2f3032;
    display: flex;
    align-items: center;
    gap: 10px;
}

.command {
    display: flex;
    align-items: center;
    margin: 5px;

}

.usd {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: rgb(47, 48, 50);
}

.crancy-balance.crancy-language__list {
    flex-direction: column;
    gap: 8px;
    top: 16px !important;
    width: 200px;
    left: initial;
    margin: 0;
    transform: translateY(50px);
}

.crancy-balance.crancy-language__list a {
    padding: 5px 15px;
}

.crancy-language a {
    color: #2f3032;
    display: flex;
    align-items: center;
    gap: 10px;
}

.crancy-language {
    position: relative;
}

.crancy-balance {
    position: absolute;
    left: 50%;
    top: 70px;
    background: #fff;
    z-index: 100;
    width: 400px;
    padding: 30px 0;
    border-radius: 12px;
    box-shadow: 19px 11px 127px #00000030;
    margin-left: -200px;
    opacity: 0;
    transition: all .4s;
}

.fm-hover-animation-2 {
    animation: 0.5s;
}

.crancy-language:hover .crancy-balance {
    opacity: 1;
    visibility: visible;
}

.united-state-img {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.drp {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-right: 10px;
}

.crancy-balance.crancy-language__list.fm-hover-animation-2 a span:hover {
    color: #0a82fd;
}

.crancy-balance a span {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgb(47, 48, 50);
    font-weight: 500;
}

.crancy-balance.crancy-language__list {
    flex-direction: column;
    gap: 8px;
    top: 16px !important;
    width: 200px;
    left: initial;
    margin: 0;
    transform: translateY(50px);
}

.crancy-balance:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -35px;
    width: 0px;
    height: 30px;
    border-bottom: 35px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    margin-left: -24px;
}

.second {
    border-right: 1px solid #e4f2ffb5;
    padding-right: 20px;
    margin-right: 20px;
}

.option-gap {
    display: flex;
    align-items: center;
    gap: 30px;
}

.icon {
    display: flex;
    align-items: center;
}

.bell-count {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    color: var(--white-color);
    line-height: 16px;
    font-size: 14px;
    background-color: #eb5757;
    position: absolute;
    top: -6px;
    right: -6px;
    text-align: center;

}

.msg {
    background-color: #27ae60;
}

/* =========== cards ========= */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
}

.main-section {
    margin-left: 330px;
    padding-right: 25px;
    border-left: 1px solid #e4f2ff;
    padding-top: 30px;
}

.main-section .row {
    margin-right: -26px;
}

.crancy-progress-card {
    background: #fff;
    display: flex;
    align-items: center;
    padding: 28px 26px 31px 20px;
    justify-content: space-between;
    border-radius: 8px;
}

.crancy-history {
    font-size: 16px;
    font-weight: 400;
    color: #9aa2b1;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.crancy-percent {
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: rgb(10, 130, 253);
}

.CircularProgressbar-text {
    fill: #3e98c7;
    font-size: 20px;
    text-anchor: middle;
}

.main-section .col-3 {
    width: 25%;
    padding: 0px 12px;
}

/* chart =====================*/

.carrancy-gap {}

.sixth-one {
    width: 760px;
    padding: 0px 12px;
    margin-right: 20px;
}

.chart-home-one {
    min-height: 352px
}

.chart-main {
    background-color: var(--white-color);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 9px 95px #0000000d;
    margin-top: 30px;
}

.chart-main-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.chart-main-title {
    font-size: 24px;
    margin: 0px;
    font-weight: 500;
    color: #2f3032;
}

/* ----------chart-1----------------- */
.apexcharts-toolbar {
    display: none !important;
}

.apexcharts-legend.apexcharts-align-center.apx-legend-position-bottom {
    display: none;
}

#SvgjsPath1020,
#SvgjsPath1048,
#SvgjsPath1022,
#SvgjsPath1050,
#SvgjsPath1024,
#SvgjsPath1052,
#SvgjsPath1026,
#SvgjsPath1054,
#SvgjsPath1028,
#SvgjsPath1056,
#SvgjsPath1030,
#SvgjsPath1058,
#SvgjsPath1032,
#SvgjsPath1060,
#SvgjsPath1034,
#SvgjsPath1062,
#SvgjsPath1036,
#SvgjsPath1038,
#SvgjsPath1066,
#SvgjsPath1040,
#SvgjsPath1068,
#SvgjsPath1042,
#SvgjsPath1070 {
    stroke: none !important;
    fill: rgb(210, 236, 246);
}

#SvgjsPath1064 {
    stroke: none !important;
    fill: var(--yellow-color);

}

#SvgjsPath1070:hover {
    fill: var(--yellow-color) !important;

}

#SvgjsPath1048:hover {
    fill: var(--yellow-color) !important;

}

#SvgjsPath1050:hover {
    fill: var(--yellow-color) !important;

}

#SvgjsPath1052:hover {
    fill: var(--yellow-color) !important;

}

#SvgjsPath1054:hover {
    fill: var(--yellow-color) !important;

}

#SvgjsPath1056:hover {
    fill: var(--yellow-color) !important;

}

#SvgjsPath1058:hover {
    fill: var(--yellow-color) !important;

}

#SvgjsPath1060:hover {
    fill: var(--yellow-color) !important;

}

#SvgjsPath1062:hover {
    fill: var(--yellow-color) !important;

}

#SvgjsPath1066:hover {
    fill: var(--yellow-color) !important;

}

#SvgjsPath1068:hover {
    fill: var(--yellow-color) !important;

}

#SvgjsPath1070:hover {
    fill: var(--yellow-color) !important;

}

#SvgjsPath1020:hover {
    fill: var(--blue-color) !important;
}

#SvgjsPath1022:hover {
    fill: var(--blue-color) !important;
}

#SvgjsPath1024:hover {
    fill: var(--blue-color) !important;
}

#SvgjsPath1026:hover {
    fill: var(--blue-color) !important;
}

#SvgjsPath1028:hover {
    fill: var(--blue-color) !important;
}

#SvgjsPath1030:hover {
    fill: var(--blue-color) !important;
}

#SvgjsPath1032:hover {
    fill: var(--blue-color) !important;
}

#SvgjsPath1034:hover {
    fill: var(--blue-color) !important;
}

#SvgjsPath1036:hover {
    fill: var(--blue-color) !important;
}

#SvgjsPath1038:hover {
    fill: var(--blue-color) !important;
}

#SvgjsPath1040:hover {
    fill: var(--blue-color) !important;
}

#SvgjsPath1042:hover {
    fill: var(--blue-color) !important;
}

.progress-list.progress-list-inline {
    flex-direction: row;
    padding: 0px;
    padding: 15px;
}

.progress-list {
    display: flex;
    flex-wrap: wrap;
}

.chart-main-middle {
    display: flex;
    gap: 15px;
    align-items: center;
}

.progress-list li {
    color: #9aa2b1;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 3px;
}

.progress-list-color {
    width: 16px;
    height: 16px;
    background-color: var(--blue-color);
    position: relative;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    min-height: 16px;
    min-width: 16px;
}

.progress-list li p {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
    color: #2f3032;
    font-size: 16px
}

.progress-list li p span {
    color: #9aa2b1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-list-color.yellow {
    background-color: #f2c94c;
}

.side-bar-btn.heading-tabs {
    font-size: 14px;
    padding: 0px;
    border: none;
    color: #2f3032;
}

.sixth-two {
    width: 389px;
}

.chart-main-date {
    background: 0 0;
    border: 1px solid #e8e9eb;
    border-radius: 8px;
    padding: 0 10px;
    color: #2f3032;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 40px;
    text-align: center;
    cursor: pointer;

}

.charts-main-dates__input {
    color: #9aa2b1;
    border-radius: 3px;
    padding: 0;
    line-height: initial;
    width: 100%;
    resize: none;
    border: none;
}

.chart-main.bottom {
    height: 420px;

}

.chart-bottom {
    width: 1180px;
    padding: 0px 12px;


}

.chart-main.carancy-table.col-12.table {
    margin-bottom: 40px;
}

.chart-bottom-two {
    width: 1180px;
    padding: 12px;
    padding-top: 0px !important;
}

.crancy-table-filter {
    margin-bottom: 20px;
    padding-left: 0px;
}

.table {
    height: 694px;
}

.mg-btm-20 {
    margin-bottom: 20px !important;
}

.crancy-table-filter__single {
    display: flex;
    flex-direction: column;
}

.crancy-table-filter__single label {
    font-weight: 500;
    color: #2f3032;
}

.my-select-box {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    border-radius: 12px;
}

.my-select-box .my-select-box-btn {
    width: 100%;
    justify-content: space-between;
    background: #f7fafc;
    font-weight: 400;
    font-size: 16px;
    color: #9aa2b1;
    display: flex;
    align-items: center;
    min-height: 56px;
    padding: 0 20px;
    border: none;
    margin: 0;
    border-radius: 12px;
}

label {
    margin-bottom: 10px;
}

.my-select-box-btn i {
    width: 24px;
    color: #0a82fd;
}

.nice-select,
select,
.crancy-table-filter__single input {
    background: #f7fafc !important;
    border: none;
    border-radius: 12px !important;
    font-weight: 400;
    font-size: 16px;
    color: #9aa2b1;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100% !important;
    min-height: 56px !important;
    padding: 0 20px;
    border: none !important;
    margin: 0;
}

table {
    width: 100%;
}

.crancy-table__head {
    background: #fafafa;
}

.crancy-table__main .crancy-table__head tr th {
    width: 14.28%;
    vertical-align: middle;
    text-align: left;
    padding: 11px 20px;
}

.crancy-table__head tr th {
    color: #9aa2b1;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 20px;
}


.crancy-table__main .crancy-table__head tr th,
.crancy-table__main .crancy-table__body tr td {
    width: 14.28%;
    vertical-align: middle;
    text-align: left;
    padding: 11px 20px;
}

.crancy-table__main .crancy-table__body tr td {
    padding: 14px 20px !important;
}

.crancy-table__main .crancy-table__body tr td {
    width: 14.28%;
    vertical-align: middle;
    text-align: left;
    padding: 11px 20px;
}

.crancy-table__main .crancy-table__column-2 {
    width: 26% !important;
}

.crancy-table__body td {
    border-bottom: 1px solid #e4f2ff;
}

.crancy-table__product {
    display: flex;
    gap: 15px;
    align-items: center;
    text-align: left;
}

.crancy-table__product-img {
    max-width: 60px;
}

.crancy-table__product-img img {
    border-radius: 50%;
    min-width: 60px;
    min-height: 60px;
}

.crancy-table__text {
    margin: 0;
    font-size: 16px;
    color: #2f3032;
}

.crancy-table__inner--title {
    font-weight: 400;
    font-size: 16px;
}

.crancy-table__amount {
    display: flex;
    align-items: center;
    gap: 5px;
}

.crancy-table__amount img {
    max-width: 18px;
}

.crancy-table__inner--title {
    font-weight: 400;
    font-size: 16px;
}

.crancy-table__status {
    font-size: 14px;
    color: #27ae60;
    text-align: center;
    padding: 6px 24px;
    border-radius: 4px;
    background: #e1f4e9;
    display: inline-flex !important;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.crancy-table-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.crancy-sidebar__single:last-child {
    margin-left: 20px !important;
    width: 300px;
}

/* =============================side-box=================== */
.crancy-main__sidebar {
    padding-left: 22px;
}

.crancy-sidebar {
    position: sticky;
    top: 0;
}

.crancy-sidebar__widget {
    margin-bottom: 30px;
}

.crancy-sidebar__single {
    padding: 25px 22px;
    background: #fff;
    border-radius: 15px;
    margin-bottom: 40px;
}

.crancy-sidebar__title {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
}

.crancy-sidebar__heading,
.fc-header-toolbar.fc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e4f2ff;
    padding-bottom: 15px !important;
    margin-bottom: 15px !important;
}

.crancy-sidebar__creatorlist {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.crancy-sidebar__creatorlist li {
    display: flex;
    width: 100%;
}

.crancy-sidebar__creator {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
}

.crancy-sidebar__creator img {
    max-width: 32px;
    border-radius: 100%;
    min-width: 32px;
    min-height: 32px;
}

.crancy-sidebar__creator a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}

.crancy-sidebar__creator-link {
    font-size: 16px;
    font-weight: 400;
    color: #9aa2b1;
}

.crancy-sidebar__creator-name {
    display: flex;
    flex-direction: column;
    color: var(--blue-color) !important;
    line-height: 18px;
    font-weight: 500;
    font-size: 16px;
    gap: 3px;
}

.crancy-sidebar__creator-name-2 {
    color: #2f3032;
}

.crancy-sidebar__single:last-child {
    margin: 0;
}

.dataTables_paginate,
.crancy-pagination {
    text-align: center;
    display: flex;
    align-items: center;
}

.dataTables_paginate .pagination,
.crancy-pagination ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.dataTables_paginate .paginate_button.page-item.previous a,
.dataTables_paginate .paginate_button.page-item.next a,
.crancy-pagination ul .crancy-pagination__button a {
    color: #9aa2b1 !important;
}

.pagination a,
.crancy-pagination li a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    background: transparent !important;
    border: none !important;
    color: #9aa2b1 !important;
    display: inline-block !important;
    padding: 0;
    line-height: 40px;
    font-weight: 400;
    border-radius: 6px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.page-link {
    position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.dataTables_paginate .pagination a:hover,
.crancy-pagination ul li a:hover,
.dataTables_paginate .paginate_button.active a,
.crancy-pagination ul li.active a {
    background: #eff7ff !important;
    color: #0a82fd !important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}

.dataTables_paginate .pagination a,
.crancy-pagination li a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    background: transparent !important;
    border: none !important;
    color: #9aa2b1 !important;
    display: inline-block !important;
    padding: 0;
    line-height: 40px;
    font-weight: 400;
    border-radius: 6px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.dataTables_paginate .paginate_button.page-item.previous a:hover,
.dataTables_paginate .paginate_button.page-item.next a:hover,
.crancy-pagination ul .crancy-pagination__button:hover a {
    color: #0a82fd !important;
}

#SvgjsG1014 path,
#SvgjsG1042 path {
    fill: #e4f2ff !important;
}

#SvgjsG1042 #SvgjsPath1063 {
    fill: #f2c94c !important;
}

#SvgjsG1014 path:hover {
    fill: var(--blue-color) !important;
}

#SvgjsG1042 path:hover {
    fill: #e6ae06 !important;
}

.apexcharts-toolbar,
.apexcharts-legend {
    display: none !important;
}

#SvgjsPath1063 {
    fill: #f2c94c !important;
}

/* ======================dark-mode */
input[type=checkbox].toggle-switch {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: 0;
    cursor: pointer;
    width: 3em;
    height: 1.5em;
    border-radius: 3em;
    background-color: #ebebeb;
    transition: background-color 0.09s ease-in-out;
    position: relative;
}

input[type=checkbox].toggle-switch:active::after {
    background-color: #f2f2f2;
    padding-right: .8em;
}

input[type=checkbox].toggle-switch::after {
    content: '';
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    border-radius: 3em;
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 2px 0px 5px 0 rgba(0, 0, 0, 0.15);
}

input[type=checkbox].toggle-switch:checked {
    background-color: #333;
}

input[type=checkbox].toggle-switch:checked:active::after {
    margin-left: -.8em;
}

input[type=checkbox].toggle-switch:checked::after {
    left: 2em;
    background-color: #242424;
}

.dark {
    background: #181818 !important;
    color: #fff !important;
}